body{
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.glow{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 5px blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.normal{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border: 1px solid black;
    box-shadow: -5px -5px black, -10px -10px blueviolet , -15px -15px yellow, -20px -20px red , -25px -25px blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}