#blue{
    background-color: blue;
    padding: 20px;
}
.pink{
    background-color: pink;
    padding: 20px;
}
#orange{
    background-color: orange;
    padding: 20px;
}
.orange{
    background-color: orange;
    padding: 20px;
}
div p{
    padding: 20px;
}