body
{
    justify-content: center;
    width: 70%;
    border: 10px solid burlywood;
    display: flex;
    flex-wrap: wrap;
}
div{
    width: 25%;
    background-color: red;
    color: blue;
    border: 3px solid cadetblue;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}