body{
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    padding: 20px;
    margin: 0 auto;
    border:  5px solid black;
    width: 300px;
}
.mix{
    border-style: solid dashed;
}
.mix1{
    border-style: solid double dotted dashed ;
}
.dot{
    border: 5px dotted red;
}
.green{
    border: 5px solid green ;
}
.max{
    border-top: 5px solid black;
    border-right: 10px double green;
    border-left:2px dashed blue;
    border-bottom: 7px dotted red;
}