body{
    border: 2px solid rgb(214, 212, 212);
    width: 90%;
    margin: 0 auto;
}
h1{
    background-color: blue;
    color: yellow;
    padding: 20px;
}
#red{
    color: red;
    font-family: monospace;
}
#italic{
    font-style: italic;
    color: aqua;
    font-size: large;
}
#bold{
    font-weight: bold;
    font-size: larger;
    color: blueviolet;
    text-decoration: underline double;
}
#mix{
    background-color: blue;
    color: yellow;
    font-weight: bold;
    font-size: larger;
    font-family: monospace;
    text-decoration: underline double;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    color: green;
}
a {
    font-style: italic;
    font-weight: bolder;
}