body{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 150px);
}
.top{
    background-color: red;
    grid-area: 1/1/4/4;
    opacity: 50%;
}
.mid{
    background-color: blue;
    grid-area: 3/3/6/6;
    opacity: 50%;
}
.bot{
    background-color: green;
    grid-area: 2/2/5/5;
    opacity: 50%;
}