body{
    border: 10px solid rgb(78, 78, 18);
}
main{
    border: 10px solid rgb(78, 78, 18);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10%;
    justify-content: space-around;
    margin: 30px;
    padding: 30px;
}
div{
    background-color: blueviolet;
    color: wheat;
    border: 3px solid white;
    width: 200px;
}