body{
    text-align: center;
    align-items: center;
    padding: 30px;
}
form{
    width: 30%;
    align-items: center;
    background-color: rgb(225, 225, 115);
    margin: 0 auto;
    padding: 50px;
    border: 5px outset gray ;
}
.con{
    background-color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 100%;
    height: 50px;
}
input{
    width: 100%;
    height: 30px;
}
textarea{
    width: 100%;
    height: 90px;
}
button{
    width: 100%;
    background-color: rgb(127, 197, 108);
    border: 2px solid gray ;
    height: 40px;
}
div label{
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}