body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 30px;
}
div{
    background-color: blueviolet;
    color: white;
    text-align: center;
    margin: 40px;
    padding: 50px;
    width: auto;
    height: auto;
}