body{
    display: flex;
}
div{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
    border: 1px solid red;
}
.d1{
    width: 25%;
}
.d2{
    width: 75%;
}