body{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "side nav nav nav"
    "side art art art"
    "side art art art"
    "side art art art"
    "foot foot foot foot";
    grid-template-rows: 1fr 1fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.header{
    grid-area: header;
    background-color: yellow;
    color: white;
}
.side{
    grid-area: side;
    background-color: orange;
    color: white;
}
.nav{
    grid-area: nav;
    background-color: purple;
    color: white;
}
.art{
    grid-area: art;
    background-color: blue;
    color: white;
}
.foot{
    grid-area: foot;
    background-color: black;
    color: white;
}