.d1{
    border: 1px solid red;
    position: relative;
    background-color: green;
    width: 300px;
}
.d2{
    border: 1px solid blue;
    position: fixed;
    z-index: 1;
    background-color: red;
    width: 400px;
}
.d3{
    border: 1px solid green;
    position: absolute;
    background-color: blue;
    width: 200px;
}